<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Bootstrap Input Email</title>

    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{webjars/font-awesome/5.11.2/css/all.css} "/>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Thymeleaf - Bootstrap Input Email</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/llibre/insertarllibre">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/llibre/mostrar">Mostrar Llibres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <form method="post"  action="#" th:action="@{/prestec/add}" th:object="${prestec}"> 
        <div class="form-group row">
            <div class="col-md-4 mt-5">
                <label for="isbn">ISBN</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="isbn" autocomplete="off" th:field="*{llibre.isbn}"/>
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-book fa-fw" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <label for="dni">DNI</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="dni" autocomplete="off" th:field="*{usuari.dni}"/>
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-book fa-fw" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <label for="autor">Data Prestec</label>
                <div class="input-group">
                    <input type="date" class="form-control" id="dataPrestec" autocomplete="off" th:field="*{dataPrestec}"/>
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-book fa-fw" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
             <div class="col-md-4 mt-5">
                <label for="autor">dataRetorn</label>
                <div class="input-group">
                    <input type="date" class="form-control" id="dataRetorn" autocomplete="off" th:field="*{dataRetorn}"/>
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-book fa-fw" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <label for="autor">retornat</label>
                <div class="input-group">
                    <input type="checkbox" class="form-control" value="1" id="retornat" autocomplete="off" th:field="*{retornat}"/>
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-book fa-fw" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Submit form</button>
    </form>

</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>